
.contents{
    background-image: url('/Users/Pakshal/Desktop/PROJECTS/COMPUTETASK1/travel-app/src/Pages/folderimages/Decore.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    }



